---
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import MainLayout from "@layouts/MainLayout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;
const title = "Pokemon Static | Home";
---

<MainLayout title={title}>
  <h1 class="text-3xl mt-4">Listado de Pokémons</h1>
  <hr />

  <section
    aria-label="Listado de pókemons"
    class="grid grid-cols-1 gap-4 mt-8 sm:grid-cols-4 md:grid-cols-5 px-4"
  >
    {data.results.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>
</MainLayout>
